*.iml
.gradle
/local.properties
.idea/*
!.idea/dictionaries
!.idea/codeStyles
.DS_Store
/build
/captures
keystore.properties
core/pom.xml
*.keystore
*.jks
*.apk
google-services.json
apiKeys.properties
*.log
marketSkus.properties
